<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Chat App - Chat</title>
  <script src="https://cdn.tailwindcss.com"></script>
</head>

<body class="bg-gray-100 flex items-center justify-center min-h-screen">

  <div class="bg-white hidden chatpanel shadow-md rounded-lg flex flex-col w-full max-w-2xl h-full">
    <div class="bg-indigo-600 p-4 rounded-t-lg flex items-center justify-between">
      <h1 class="text-white text-xl font-semibold">Chat Room</h1>
      <small class="italic typing hidden text-white text-xl"><span class="typer">somebody</span> is typing</small>
    </div>

    <div id="message-box" class="h-96 overflow-y-auto p-4 space-y-4">
      

      
    </div>

    <form autocomplete="off" id="message-form" class="flex p-4 bg-gray-200 rounded-b-lg">
      <input type="text" id="message-input"
        class="flex-1 px-4 py-2 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm"
        placeholder="Type a message...">
      <button type="submit"
        class="ml-2 bg-indigo-600 hover:bg-indigo-700 text-white font-semibold py-2 px-4 rounded-md shadow-md">Send</button>
    </form>
  </div>

  <div class="absolute prechat top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2 p-8 bg-white rounded">
    <h3>Name</h3>
    <input type="text" class="name mt-3 px-3 py-2 outline-none border border-gray-300 rounded w-52">
    <button class="startchat mt-2 px-4 py-2 bg-indigo-600 hover:bg-indigo-700 text-white font-semibold rounded-md">Start
      Chat</button>
  </div>

  <script src="https://cdn.socket.io/4.7.5/socket.io.min.js"
    integrity="sha384-2huaZvOR9iDzHqslqwpR87isEmrfxqyWOF7hr7BY6KG0+hVKLoEXMPUJw3ynWuhO"
    crossorigin="anonymous"></script>
  <script>
    const inputname = document.querySelector('.name')
    const startchat = document.querySelector(".startchat")
    const message = document.querySelector("#message-input")
    const messageBox = document.querySelector("#message-box")


    let username;

    startchat.addEventListener("click", function () {
      if (inputname.value.trim().length > 0) {
        username = inputname.value.trim();





        const socket = io();
        socket.emit("username", username)

        socket.on("sethogya", function () {
          document.querySelector(".prechat").classList.add("hidden");
          document.querySelector(".chatpanel").classList.remove("hidden");
        })

        document.querySelector("#message-form").addEventListener("submit", (event) => {
          event.preventDefault();
          if(message.value.trim()){
            socket.emit("message", message.value)
            message.value = ""
          }
          
        })

        socket.on("message", (data) => {
          if (data.id === socket.id) {
            messageBox.innerHTML += ` <div class="flex justify-end ">
            <div class="bg-blue-500 text-white p-3 rounded-lg">
              ${data.message}
            </div>
            </div>`
          }
          else{
            messageBox.innerHTML += `<div class="flex justify-start">
        <div class="bg-zinc-300 text-white p-3 rounded-lg">
          ${data.message}
        </div>
      </div>`
          }
        })
      }
    });

  </script>
</body>

</html>